{#
/**
 * @file
 * Default theme implementation for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--fourcol-section',
  ]
%}

{% set layout_classes = [
  (content.first|render|trim|length == 0) ? 'first-column-empty',
  (content.second|render|trim|length == 0) ? 'second-column-empty',
  (content.third|render|trim|length == 0) ? 'third-column-empty',
  (content.fourth|render|trim|length == 0) ? 'fourth-colum-empty'
] %}

{% if content %}
  <div{{ attributes.addClass(classes).addClass(layout_classes) }}>

    {% if content.first|render|trim|length > 0 %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second|render|trim|length > 0 %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third|render|trim|length > 0 %}
      <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
        {{ content.third }}
      </div>
    {% endif %}

    {% if content.fourth|render|trim|length > 0 %}
      <div {{ region_attributes.fourth.addClass('layout__region', 'layout__region--fourth') }}>
        {{ content.fourth }}
      </div>
    {% endif %}

  </div>
{% endif %}
